.about {
  padding: 46px 0 42px;
  position: relative;
  text-align: center;
  overflow: hidden;

  @include media-breakpoint-up(xl) {
    padding: 100px 0 150px;
  }

  &-content {
    margin-bottom: 100px;

    .title {
      color: $color-fourteen;
      margin: 0 auto 49px;
      font-size: 35px;
      width: 280px;

      @include media-breakpoint-up(lg) {
        line-height: 77px;
        text-align: right;
        margin: 0 0 28px;
        font-size: 58px;
        width: 100%;
      }

      @include media-breakpoint-up(xl) {
        margin: 0 0 42px;
        font-size: 70px;
      }
    }

    .subtitle {
      color: $color-thirteen;
      font-weight: normal;

      @include media-breakpoint-up(lg) {
        line-height: 36px;
        text-align: right;
        margin-top: 11px;
        font-size: 25px;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 23px;
        font-size: 30px;
      }
    }

    .text {
      color: $color-fiveteen;
      margin: 0 auto 33px;
      font-size: 15px;
      width: 290px;

      @include media-breakpoint-up(lg) {
        margin: -14px auto 33px;
        text-align: left;
        width: 100%;
      }

      @include media-breakpoint-up(xl) {
        line-height: 29px;
        margin: 0 0 29px;
        font-size: 18px;
      }

      span {
        font-weight: bold;
      }
    }
  }

  .about-img {
    border-radius: 10% 50%;
    object-fit: cover;
    height: 260px;
    width: 260px;

    @include media-breakpoint-up(lg) {
      height: 394px;
      width: 394px;
    }

    @include media-breakpoint-up(xl) {
      height: 540px;
      width: 540px;
    }
  }
}
