.banner {
  background-color: $color-ten;
  padding: 135px 0 54px;
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100vw;

  @include media-breakpoint-up(md) {
    padding-top: 225px;
    text-align: right;
  }

  &-content {
    margin: 0 auto -80px;
    position: relative;
    text-align: center;
    width: 90%;

    .subtitle {
      margin: 0 auto 12px;
      width: 75%;

      @include media-breakpoint-up(sm) {
        margin-right: 0;
        width: 81%;
      }
    }

    @include media-breakpoint-up(sm) {
      text-align: right;
      margin-right: 0;
      width: 47%;
      z-index: 1;
    }

    @include media-breakpoint-up(md) {
      margin-right: 70px;
      width: 35%;
    }

    @include media-breakpoint-up(lg) {
      margin-right: 20%;
      width: 26%;
    }

    @include media-breakpoint-up(xl) {
      margin-right: 4%;
      width: 48%;
    }
  }

  &-img {
    margin: 65px auto 57px;
    border-radius: 50% 5%;
    object-fit: cover;
    display: block;
    height: 260px;
    width: 260px;

    @include media-breakpoint-up(md) {
      margin-top: -130px;
      position: relative;
      display: inline;
      height: 355px;
      width: 355px;
      left: -36px;
      z-index: 0;
    }

    @include media-breakpoint-up(xl) {
      margin-top: -330px;
      height: 615px;
      width: 615px;
      left: -19%;
    }
  }
}
