.welcome-detail_four {
  .owl-carousel {
    margin-bottom: 103px;
    position: relative;
    display: none;

    @include media-breakpoint-up(xl) {
      margin-left: 26%;
    }

    .owl-item {
      max-width: 280px;
    }

    .owl-nav {
      transform: translateX(-50%);
      position: absolute;
      max-width: 280px;
      display: inline;
      width: 100vw;
      left: 50%;
      top: 30%;

      @include media-breakpoint-up(xl) {
        left: 0;
      }

      .prev-slide {
        background-image: url(../../images/shape/nav-prev.svg);
        background-repeat: no-repeat;
        transform: translateX(-50%);
        position: absolute;
        object-fit: cover;
        height: 41px;
        width: 26px;
        left: 0;

        @include media-breakpoint-up(xl) {
          left: 40%;
          top: -50%;
        }
      }

      .next-slide {
        background-image: url(../../images/shape/nav-next.svg);
        background-repeat: no-repeat;
        transform: translateX(50%);
        position: absolute;
        object-fit: cover;
        height: 41px;
        width: 26px;
        right: 0;

        @include media-breakpoint-up(xl) {
          right: 60%;
        }
      }
    }

    .card {
      padding: 20px 26px 0;
      border-radius: 19px;

      &-img-top {
        border-radius: 10px;
      }

      &-body {
        color: $color-fiveteen;
        padding: 20px 0;
        font-size: 15px;

        .card-title {
          font-weight: bold;
        }
      }
    }
  }
}
