.contact {
  padding: 84px 0 75px;
  text-align: center;

  .title {
    margin-bottom: 15px;
    color: $color-eight;
    font-weight: bold;
    font-size: 35px;
  }

  &-email,
  &-phone {
    font-weight: bold;
    color: $color-fiveteen;
    font-size: 18px;
  }

  form {
    .form-control {
      border: 1px solid $color-nineteen;
      margin-top: 24px;
      height: 60px;
      width: 100%;
    }
  }
}
