.footer {
  background-color: #202841;
  text-align: center;
  padding-top: 42px;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    text-align: left;
  }

  &-logo {
    width: 360px;
    height: auto;
    margin: auto;
  }

  &-contact {
    color: #91aeeb;
    margin-top: 66px;
    font-size: 16px;

    @include media-breakpoint-up(lg) {
      margin-top: 20px;
    }

    &_title {
      margin-bottom: 10px;
      font-weight: bold;
    }

    &_tel {
      margin-bottom: 10px;
    }

    &_email {
      margin-bottom: 32px;
    }
  }

  &-social {
    color: $color-twenty;
    font-size: 16px;
    display: none;

    i {
      border: 1px solid $color-eight;
      margin: 19px 7px 70px;
      border-radius: 50%;
      font-size: 28px;
      padding: 6px 0;
      height: 42px;
      width: 42px;

      @include media-breakpoint-up(lg) {
        text-align: center;
      }
    }
  }

  &-menu {
    display: none;

    @include media-breakpoint-up(lg) {
      margin-top: 30px;
      font-size: 18px;
      display: inline;

      ul {
        padding-left: 0;

        li {
          margin-bottom: 23px;
          list-style: none;

          a {
            color: $color-thirty;
          }
        }
      }
    }
  }

  .newsletter {
    display: none;
    color: $color-thirty;

    @include media-breakpoint-up(lg) {
      align-items: flex-end;
      display: inline-flex;
      margin-bottom: 30px;
      font-weight: bold;
      height: 65px;
    }

    &-title {
      font-weight: bold;
      font-size: 16px;
    }

    form {
      .form-control {
        background-color: transparent;
        border: 1px solid #38406e;
        color: #7980a7;
        margin-top: 24px;
        font-size: 16px;
        height: 60px;
      }

      .form-newsletter_email {
        border-radius: 0.25em 0 0 0.25em;
        width: 102%;
      }
    }
  }

  .copyright {
    background-color: $color-fourty;
    padding: 33px 0 36px;
    color: $colorfivety;
    font-size: 13px;

    @include media-breakpoint-up(lg) {
      text-align: center;
    }

    a {
      color: $colorfivety;
      font-weight: bold;
    }
  }
}
