.navbar {
  background-color: $color-ten;
  padding: 10px 0;

  @include media-breakpoint-up(lg) {
    padding: 10px 20px;
    margin: auto;
  }

  @include media-breakpoint-up(xl) {
    padding: 10px 40px;
  }

  &-brand {
    width: 177px;
    height: auto;

    @include media-breakpoint-up(lg) {
      width: 260px;
    }

    img {
      padding-left: 20px;
      height: auto;
      width: 100%;

      @include media-breakpoint-up(md) {
        padding-left: 40px;
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
    }
  }

  &-toggler {
    border-color: transparent !important;
    color: #fff !important;
    margin-right: 20px;

    &-icon {
      height: 33px;
      width: 33px;
    }

    &:active,
    &:focus {
      border-color: transparent !important;
      color: #fff !important;
      outline: transparent;
    }

    @include media-breakpoint-up(md) {
      margin-right: 40px;
    }
  }

  &-collapse.show,
  .collapsing {
    background-color: $color-sixty;

    @include media-breakpoint-up(lg) {
      background-color: transparent;
    }
  }

  &-nav {
    .nav-item {
      position: relative;
      text-align: center;

      &:first-child {
        margin-top: 15px;

        @include media-breakpoint-up(lg) {
          margin-top: 0;
        }
      }

      &:last-child {
        margin-bottom: 15px;

        @include media-breakpoint-up(lg) {
          margin-bottom: 0;
        }
      }

      .nav-link {
        color: $color-twelve;
        padding-bottom: -9px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 16px;
        margin-top: 5px;
      }
    }

    .nav-item {
      .nav-link {
        color: $color-twelve;
      }

      &:after {
        background-color: $color-twelve;
        transform: translateX(50%);
        transition: width 1s ease;
        position: absolute;
        border-radius: 7px;
        content: ' ';
        height: 4px;
        right: 50%;
        bottom: 0;
        width: 0;
      }

      &:hover:after {
        width: 30%;

        @include media-breakpoint-up(md) {
          width: 20%;
        }

        @include media-breakpoint-up(lg) {
          width: 70%;
        }
      }
    }

    .nav-item.active {
      .nav-link {
        color: $color-twelve;
      }

      &:after {
        width: 18px;
      }

      &:hover:after {
        width: 30%;

        @include media-breakpoint-up(md) {
          width: 20%;
        }

        @include media-breakpoint-up(lg) {
          width: 70%;
        }
      }
    }
  }
}
