.banner-shape {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  @include media-breakpoint-up(lg) {
    bottom: 3%;
    right: 5%;
    left: 8%;
    top: 10%;
  }

  @include media-breakpoint-up(xl) {
    top: 25%;
  }

  &_group-one {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;

    @include media-breakpoint-up(md) {
      top: 137px;
    }

    .shape-one {
      position: absolute;
      height: auto;
      right: 103px;
      width: 74px;
      top: 105px;

      @include media-breakpoint-up(md) {
        width: 85px;
        top: 10px;
      }

      @include media-breakpoint-up(xl) {
        width: 185px;
        right: 40px;
      }
    }

    .shape-two {
      position: absolute;
      height: auto;
      right: -3px;
      width: 46px;
      top: 211px;

      @include media-breakpoint-up(md) {
        width: 56px;
        top: 115px;
      }

      @include media-breakpoint-up(xl) {
        width: 116px;
        right: -68px;
        top: 135px;
      }
    }

    .shape-tree {
      position: absolute;
      height: auto;
      top: -100px;
      width: 98px;
      right: 4px;

      @include media-breakpoint-up(md) {
        width: 146px;
        top: -242px;
      }

      @include media-breakpoint-up(xl) {
        width: 246px;
        right: -57px;
        top: -346px;
      }
    }

    .shape-four {
      position: absolute;
      right: -160px;
      width: 141px;
      height: auto;
      top: -18px;

      @include media-breakpoint-up(md) {
        right: -231px;
        width: 255px;
        top: -218px;
      }

      @include media-breakpoint-up(xl) {
        right: -321px;
        width: 355px;
        top: -300px;
      }
    }

    .shape-five {
      position: absolute;
      height: auto;
      width: 138px;
      right: 20px;
      top: 0;

      @include media-breakpoint-up(md) {
        width: 248px;
        top: -170px;
        right: 10px;
      }

      @include media-breakpoint-up(xl) {
        width: 348px;
        right: -10px;
        top: -250px;
      }
    }
  }

  &_group-two {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;

    .shape-six {
      position: absolute;
      bottom: 135px;
      height: auto;
      width: 107px;
      left: -93px;

      @include media-breakpoint-up(sm) {
        left: -3px;
      }

      @include media-breakpoint-up(md) {
        bottom: 65px;
        width: 170px;
        left: -50px;
      }

      @include media-breakpoint-up(xl) {
        width: 260px;
        bottom: 40px;
        left: -200px;
      }
    }

    .shape-seven {
      position: absolute;
      bottom: 250px;
      height: auto;
      width: 190px;
      left: 105px;

      @include media-breakpoint-up(sm) {
        left: 195px;
      }

      @include media-breakpoint-up(md) {
        bottom: 250px;
        width: 259px;
        left: 143px;
      }

      @include media-breakpoint-up(xl) {
        bottom: 310px;
        width: 459px;
        left: -7px;
      }
    }
  }
}

.about {
  &-shape_content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    .shape-about-4 {
      transform: translateX(-50%);
      position: absolute;
      height: 292px;
      width: 292px;
      margin: auto;
      left: 50%;
      right: 0;

      @include media-breakpoint-up(md) {
        left: 42%;
      }

      @include media-breakpoint-up(lg) {
        height: 394px;
        width: 394px;
      }

      @include media-breakpoint-up(xl) {
        height: 540px;
        width: 540px;
        left: 47%;
      }
    }

    .shape-about-5 {
      transform: translateX(-50%);
      position: absolute;
      height: 188px;
      width: 188px;
      bottom: 40%;
      left: 43%;

      @include media-breakpoint-up(sm) {
        left: 46%;
      }

      @include media-breakpoint-up(md) {
        left: 47%;
      }

      @include media-breakpoint-up(lg) {
        height: 241px;
        width: 241px;
        bottom: 8%;
        left: 68%;
      }

      @include media-breakpoint-up(xl) {
        height: 341px;
        width: 341px;
        bottom: -3%;
        left: 73%;
      }
    }

    .shape-about-6 {
      transform: translateX(-50%);
      position: absolute;
      height: 72px;
      bottom: 37%;
      width: 72px;
      left: 30%;

      @include media-breakpoint-up(sm) {
        left: 35%;
      }

      @include media-breakpoint-up(md) {
        left: 39%;
      }

      @include media-breakpoint-up(lg) {
        height: 94px;
        width: 94px;
        bottom: 8%;
        left: 53%;
      }

      @include media-breakpoint-up(xl) {
        height: 144px;
        width: 144px;
        bottom: -3%;
        left: 56%;
      }
    }
  }

  &-shape_img {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    .shape-about-1 {
      transform: translateX(-50%);
      position: absolute;
      height: 71px;
      width: 78px;
      bottom: 1%;
      left: 17%;

      @include media-breakpoint-up(sm) {
        left: 32%;
      }

      @include media-breakpoint-up(md) {
        left: 37%;
      }

      @include media-breakpoint-up(lg) {
        height: 112px;
        width: 132px;
        bottom: 38%;
        left: 26%;
      }

      @include media-breakpoint-up(xl) {
        height: 212px;
        width: 232px;
        bottom: 23%;
        left: 25%;
      }
    }

    .shape-about-2 {
      transform: translateX(-50%);
      position: absolute;
      height: 110px;
      width: 103px;
      bottom: 28%;
      left: 12%;

      @include media-breakpoint-up(sm) {
        left: 29%;
      }

      @include media-breakpoint-up(md) {
        left: 35%;
      }

      @include media-breakpoint-up(lg) {
        height: 227px;
        width: 207px;
        bottom: 55%;
        left: 17%;
      }

      @include media-breakpoint-up(xl) {
        height: 327px;
        width: 307px;
        bottom: 50%;
        left: 18%;
      }
    }

    .shape-about-3 {
      transform: translateX(-50%);
      position: absolute;
      height: 58px;
      width: 58px;
      bottom: 26%;
      left: 4%;

      @include media-breakpoint-up(sm) {
        left: 24%;
      }

      @include media-breakpoint-up(md) {
        left: 32%;
      }

      @include media-breakpoint-up(lg) {
        height: 94px;
        width: 94px;
        bottom: 50%;
        left: 6%;
      }

      @include media-breakpoint-up(xl) {
        height: 144px;
        width: 144px;
        bottom: 40%;
        left: 17%;
      }
    }
  }
}

.welcome-detail_one {
  .shape-welcome-1 {
    color: rgba($color: $color-seven, $alpha: 0.2);
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    margin: auto;
    width: 60px;
    top: -14%;
    right: 0;
    left: 0;

    @include media-breakpoint-up(md) {
      right: 90%;
      top: -11%;
    }

    @include media-breakpoint-up(xl) {
      transform: translateX(-50%);
      font-size: 200px;
      right: 75%;
    }
  }

  .shape-welcome-9 {
    display: none;

    @include media-breakpoint-up(xl) {
      transform: translateX(-50%);
      position: absolute;
      display: inline;
      height: 187px;
      width: 187px;
      left: 10%;
      top: 20%;
    }
  }

  .shape-welcome-10 {
    display: none;

    @include media-breakpoint-up(xl) {
      transform: translateX(-50%);
      position: absolute;
      display: inline;
      height: 294px;
      width: 294px;
      left: 13%;
      top: -27%;
    }
  }

  .shape-welcome-11 {
    display: none;

    @include media-breakpoint-up(xl) {
      transform: translateX(-50%);
      position: absolute;
      display: inline;
      height: 144px;
      width: 144px;
      left: 4%;
      top: 2%;
    }
  }

  .shape-welcome-12 {
    display: none;

    @include media-breakpoint-up(xl) {
      transform: translateX(-50%);
      position: absolute;
      display: inline;
      height: 99px;
      width: 99px;
      left: 16%;
      top: -16%;
    }
  }

  &--shape-img {
    position: relative;
    width: 246px;
    margin: auto;

    .shape-welcome-6 {
      position: absolute;
      height: 119px;
      bottom: 45px;
      right: -10px;
      width: 119px;
      z-index: 1;

      @include media-breakpoint-up(md) {
        height: 219px;
        width: 219px;
        right: -60px;
      }

      @include media-breakpoint-up(xl) {
        height: 294px;
        right: -197px;
        width: 294px;
      }
    }

    .shape-welcome-7 {
      position: absolute;
      height: 207px;
      bottom: 10px;
      width: 207px;
      left: -30px;
      z-index: 2;

      @include media-breakpoint-up(md) {
        height: 247px;
        bottom: -10px;
        width: 247px;
        left: -65px;
      }

      @include media-breakpoint-up(xl) {
        bottom: -60px;
        height: 511px;
        width: 511px;
        left: -255px;
      }
    }
  }
}

.welcome-detail_two {
  .shape-welcome-13 {
    transform: translateX(-50%);
    position: absolute;
    height: 78px;
    width: 78px;
    left: 16%;
    top: 36%;

    @include media-breakpoint-up(sm) {
      left: 30%;
      top: 34%;
    }

    @include media-breakpoint-up(md) {
      left: 18%;
      top: 19%;
    }

    @include media-breakpoint-up(lg) {
      width: 146px;
      height: 146px;
      top: 17%;
      left: 16%;
    }

    @include media-breakpoint-up(xl) {
      top: 14%;
      left: 9%;
    }
  }

  .shape-welcome-14 {
    width: 156px;
    height: 156px;
    position: absolute;
    bottom: 3%;
    right: 25%;
    transform: translateX(50%);

    @include media-breakpoint-up(sm) {
      bottom: 4%;
      right: 34%;
    }

    @include media-breakpoint-up(md) {
      right: 30%;
      bottom: 33%;
    }

    @include media-breakpoint-up(lg) {
      width: 315px;
      height: 315px;
      right: 32%;
      bottom: 10%;
    }

    @include media-breakpoint-up(xl) {
      width: 465px;
      height: 465px;
      right: 30%;
    }
  }

  .shape-welcome-15 {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 12%;
    left: 19%;
    transform: translateX(-50%);

    @include media-breakpoint-up(sm) {
      bottom: 14%;
      left: 31%;
    }

    @include media-breakpoint-up(md) {
      bottom: 39%;
      left: 26%;
    }

    @include media-breakpoint-up(lg) {
      width: 148px;
      height: 148px;
      bottom: 19%;
      left: 24%;
    }

    @include media-breakpoint-up(xl) {
      width: 198px;
      height: 198px;
      bottom: 16%;
      left: 19%;
    }
  }

  .shape-welcome-16 {
    font-size: 100px;
    font-weight: bold;
    color: rgba($color: $color-eight, $alpha: 0.2);
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-up(md) {
      top: 7%;
      left: 0;
      right: -80%;
      transform: translateX(50%);
    }

    @include media-breakpoint-up(lg) {
      top: 4%;
      font-size: 140px;
    }

    @include media-breakpoint-up(xl) {
      top: 10%;
      right: -95%;
    }
  }

  .shape-welcome-17 {
    display: none;

    @include media-breakpoint-up(md) {
      display: inline;
      position: absolute;
      width: 194px;
      height: 194px;
      left: 10%;
      top: 5%;
      transform: translateX(-50%);
    }

    @include media-breakpoint-up(lg) {
      left: 4%;
      top: 3%;
    }

    @include media-breakpoint-up(xl) {
      width: 254px;
      height: 254px;
      left: 11%;
      top: 2%;
    }
  }

  .shape-welcome-19 {
    display: none;

    @include media-breakpoint-up(md) {
      display: inline;
      position: absolute;
      width: 43px;
      height: 43px;
      transform: translateX(-50%);
      left: 12%;
      top: 9%;
    }

    @include media-breakpoint-up(lg) {
      left: 3%;
    }

    @include media-breakpoint-up(xl) {
      width: 73px;
      height: 73px;
    }
  }
}

.welcome-detail_tree {
  .shape-welcome-20 {
    position: absolute;
    top: -18%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: rgba($color: $color-seven, $alpha: 0.2);
    width: 60px;
    margin: auto;

    @include media-breakpoint-up(md) {
      right: 90%;
      top: -11%;
    }

    @include media-breakpoint-up(xl) {
      font-size: 200px;
      right: 75%;
      transform: translateX(-50%);
      width: 120px;
    }
  }

  .shape-welcome-24 {
    display: none;

    @include media-breakpoint-up(xl) {
      position: absolute;
      top: 20%;
      left: 10.6%;
      width: 187px;
      height: 187px;
      transform: translateX(-50%);
      display: inline;
    }
  }

  .shape-welcome-25 {
    display: none;

    @include media-breakpoint-up(xl) {
      display: inline;
      position: absolute;
      top: -19%;
      left: 14%;
      width: 294px;
      height: 294px;
      transform: translateX(-50%);
    }
  }

  .shape-welcome-26 {
    display: none;

    @include media-breakpoint-up(xl) {
      display: inline;
      position: absolute;
      top: -16%;
      left: 16%;
      width: 99px;
      height: 99px;
      transform: translateX(-50%);
    }
  }

  &--shape-img {
    width: 246px;
    margin: auto;
    position: relative;

    .shape-welcome-21 {
      position: absolute;
      bottom: 255px;
      right: -10px;
      width: 76px;
      height: 76px;
      z-index: 1;

      @include media-breakpoint-up(sm) {
        right: -20px;
      }

      @include media-breakpoint-up(md) {
        width: 219px;
        height: 219px;
        right: -80px;
        bottom: 215px;
      }

      @include media-breakpoint-up(xl) {
        width: 194px;
        height: 194px;
        right: -177px;
        bottom: 480px;
      }
    }

    .shape-welcome-22 {
      position: absolute;
      bottom: 10px;
      left: -30px;
      width: 200px;
      height: 200px;
      z-index: 2;
      opacity: 0.5;

      @include media-breakpoint-up(md) {
        width: 247px;
        height: 247px;
        left: -65px;
        bottom: -10px;
      }

      @include media-breakpoint-up(xl) {
        width: 465px;
        height: 465px;
        left: -200px;
        bottom: -40px;
      }
    }

    .shape-welcome-23 {
      position: absolute;
      bottom: 10px;
      right: -10px;
      width: 78px;
      height: 78px;
      z-index: 3;

      @include media-breakpoint-up(md) {
        width: 65px;
        height: 65px;
        bottom: 0;
        right: -20px;
      }

      @include media-breakpoint-up(xl) {
        width: 144px;
        height: 144px;
        bottom: -40px;
        right: -180px;
      }
    }
  }
}

.welcome-detail_four {
  .shape-welcome-27 {
    width: 78px;
    height: 78px;
    position: absolute;
    top: 34%;
    left: 16%;
    transform: translateX(-50%);

    @include media-breakpoint-up(sm) {
      top: 34%;
      left: 30%;
    }

    @include media-breakpoint-up(md) {
      top: 19%;
      left: 18%;
    }

    @include media-breakpoint-up(lg) {
      width: 146px;
      height: 146px;
      top: 17%;
      left: 16%;
    }

    @include media-breakpoint-up(xl) {
      top: 14%;
      left: 9%;
    }
  }

  .shape-welcome-28 {
    width: 156px;
    height: 156px;
    position: absolute;
    bottom: 3%;
    right: 25%;
    transform: translateX(50%);
    opacity: 0.5;

    @include media-breakpoint-up(sm) {
      bottom: 4%;
      right: 34%;
    }

    @include media-breakpoint-up(md) {
      right: 28%;
      bottom: 37%;
    }

    @include media-breakpoint-up(lg) {
      width: 315px;
      height: 315px;
      right: 32%;
      bottom: 10%;
    }

    @include media-breakpoint-up(xl) {
      width: 465px;
      height: 465px;
      right: 30%;
    }
  }

  .shape-welcome-29 {
    width: 80px;
    height: 80px;
    bottom: 12%;
    left: 19%;
    transform: translateX(-50%);
    position: absolute;
    display: none;

    @include media-breakpoint-up(md) {
      display: inline;
      bottom: 42%;
      left: 19%;
    }

    @include media-breakpoint-up(lg) {
      width: 148px;
      height: 148px;
      bottom: 19%;
      left: 24%;
    }

    @include media-breakpoint-up(xl) {
      width: 198px;
      height: 198px;
      bottom: 16%;
      left: 19%;
    }
  }

  .shape-welcome-30 {
    font-size: 100px;
    font-weight: bold;
    color: rgba($color: $color-one, $alpha: 0.2);
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-up(md) {
      top: 7%;
      left: 0;
      right: -80%;
      transform: translateX(50%);
    }

    @include media-breakpoint-up(lg) {
      top: -2%;
      right: -69%;
      font-size: 140px;
    }

    @include media-breakpoint-up(xl) {
      top: 6%;
      right: -90%;
    }
  }

  .shape-welcome-31 {
    display: none;

    @include media-breakpoint-up(md) {
      display: inline;
      position: absolute;
      width: 194px;
      height: 194px;
      left: 70%;
      top: 5%;
      transform: translateX(-50%);
    }

    @include media-breakpoint-up(lg) {
      left: 74%;
      top: 3%;
    }

    @include media-breakpoint-up(xl) {
      width: 254px;
      height: 254px;
      left: 101%;
      top: 2%;
    }
  }

  .shape-welcome-32 {
    display: none;

    @include media-breakpoint-up(md) {
      display: inline;
      position: absolute;
      width: 117px;
      height: 117px;
      transform: translateX(-50%);
      left: 77%;
      top: 27%;
    }

    @include media-breakpoint-up(xl) {
      width: 187px;
      height: 187px;
      left: 105%;
      top: 28%;
    }
  }

  .shape-welcome-33 {
    display: none;

    @include media-breakpoint-up(md) {
      display: inline;
      position: absolute;
      width: 90px;
      height: 90px;
      transform: translateX(-50%);
      left: 76%;
      top: 22%;
    }

    @include media-breakpoint-up(xl) {
      width: 144px;
      height: 144px;
      left: 103%;
      top: 22%;
    }
  }

  .shape-welcome-19 {
    display: none;

    @include media-breakpoint-up(md) {
      display: inline;
      position: absolute;
      width: 50px;
      height: 50px;
      transform: translateX(-50%);
      left: 3%;
      top: 9%;
    }

    @include media-breakpoint-up(lg) {
      left: 3%;
    }

    @include media-breakpoint-up(xl) {
      width: 73px;
      height: 73px;
    }
  }
}

.welcome-detail_five {
  .shape-welcome-34 {
    position: absolute;
    width: 483px;
    height: 483px;
    top: 12%;
    left: 20%;
    transform: translateX(-50%);

    @include media-breakpoint-up(lg) {
      left: 26%;
    }

    @include media-breakpoint-up(xl) {
      width: 533px;
      height: 533px;
      top: 8%;
      left: 34%;
    }
  }

  .shape-welcome-35 {
    position: absolute;
    width: 85px;
    height: 85px;
    top: 21%;
    left: 3%;
    transform: translateX(-50%);

    @include media-breakpoint-up(lg) {
      width: 185px;
      height: 185px;
      left: 2%;
    }

    @include media-breakpoint-up(xl) {
      left: 20%;
      top: 15%;
    }
  }

  .shape-welcome-36 {
    position: absolute;
    width: 292px;
    height: 292px;
    top: 46%;
    right: 28%;
    transform: translateX(50%);

    @include media-breakpoint-up(lg) {
      right: 34%;
    }

    @include media-breakpoint-up(xl) {
      width: 392px;
      height: 392px;
      top: 30%;
      right: 36%;
    }
  }

  .shape-welcome-37 {
    position: absolute;
    width: 85px;
    height: 85px;
    top: 70%;
    right: 12%;
    transform: translateX(50%);

    @include media-breakpoint-up(lg) {
      top: 74%;
      right: 22%;
    }

    @include media-breakpoint-up(xl) {
      width: 185px;
      height: 185px;
      top: 59%;
      right: 27%;
    }
  }

  .shape-welcome-38 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 9%;
    left: 29%;
    transform: translateX(-50%);

    @include media-breakpoint-up(lg) {
      top: 11%;
      left: 26%;
    }

    @include media-breakpoint-up(xl) {
      top: 13%;
      left: 30%;
    }
  }
}

.work {
  &-shape {
    .shape-work-1 {
      display: none;

      @include media-breakpoint-up(xl) {
        display: inline;
        width: 168px;
        height: 168px;
        position: absolute;
        top: 10%;
        left: 22%;
        transform: translateX(-50%);
      }
    }

    .shape-work-2 {
      position: absolute;
      top: 18%;
      left: -10%;
      width: 270px;
      height: 270px;
      transform: translateX(-50%);

      @include media-breakpoint-up(sm) {
        left: 15%;
      }

      @include media-breakpoint-up(md) {
        left: 20%;
      }

      @include media-breakpoint-up(lg) {
        left: 18%;
        top: 15%;
        width: 483px;
        height: 483px;
      }

      @include media-breakpoint-up(xl) {
        left: 29%;
        top: 14%;
        width: 533px;
        height: 533px;
      }
    }

    .shape-work-3 {
      position: absolute;
      top: 13%;
      left: 48%;
      width: 314px;
      height: 314px;
      transform: translateX(-50%);

      @include media-breakpoint-up(lg) {
        top: 25%;
        left: 50%;
        width: 317px;
        height: 317px;
      }

      @include media-breakpoint-up(xl) {
        top: 21%;
        width: 417px;
        height: 417px;
      }
    }

    .shape-work-4 {
      position: absolute;
      top: 10%;
      right: -1%;
      width: 150px;
      height: 150px;
      transform: translateX(50%);

      @include media-breakpoint-up(sm) {
        right: 22%;
      }

      @include media-breakpoint-up(md) {
        right: 28%;
      }

      @include media-breakpoint-up(lg) {
        top: 25%;
        right: 21%;
        width: 244px;
        height: 244px;
      }

      @include media-breakpoint-up(xl) {
        top: 21%;
        right: 25%;
        width: 344px;
        height: 344px;
      }
    }

    .shape-work-5 {
      display: none;

      @include media-breakpoint-up(xl) {
        display: inline;
        width: 123px;
        height: 123px;
        position: absolute;
        top: 16%;
        right: 18%;
        transform: translateX(50%);
      }
    }

    .shape-work-6 {
      display: none;

      @include media-breakpoint-up(xl) {
        display: inline;
        width: 123px;
        height: 123px;
        position: absolute;
        bottom: 33%;
        left: 17%;
        transform: translateX(-50%);
      }
    }
  }
}
