$color-one: #4ce5c6;
$color-two: #bd91bb;
$color-tree: #78c2c5;
$color-four: #c388ff;
$color-five: #f1c08b;
$color-six: #d6e191;
$color-seven: #4949ff;
$color-eight: #853eb7;
$color-nine: #219c94;
$color-ten: #2d44eb;
$color-eleven: #00ccfa;
$color-twelve: #4de5c7;
$color-thirteen: #be91bc;
$color-fourteen: #863fb7;
$color-fiveteen: #475779;
$color-sixteen: #d6dbe5;
$color-seventeen: #ffffff;
