.work {
  background-color: $color-fiveteen;
  padding: 34px 0 40px;
  text-align: center;
  overflow: hidden;
  position: relative;

  .title {
    font-size: 35px;
    font-weight: bold;
    color: $color-eighteen;

    @include media-breakpoint-up(lg) {
      margin-bottom: 28px;
    }

    @include media-breakpoint-up(xl) {
      line-height: 50px;
    }
  }

  .subtitle {
    display: none;

    @include media-breakpoint-up(lg) {
      display: inline;
      font-size: 20px;
      color: $color-seventeen;
    }
  }

  .owl-carousel {
    margin-top: 91px;
    position: relative;

    @include media-breakpoint-up(lg) {
      .owl-stage {
        margin: auto;
      }
    }

    &_img {
      width: 146px !important;
      height: 146px;
      object-fit: fill;
      margin: 0 auto 40px;
    }

    &_title {
      font-size: 15px;
      color: $color-seventeen;
      width: 100%;

      span {
        font-weight: bold;
      }
    }

    .owl-item {
      max-width: 280px;
    }

    .owl-nav {
      display: inline;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      max-width: 280px;

      @include media-breakpoint-up(lg) {
        display: none;
      }

      .prev-slide {
        background-image: url(../../images/shape/nav-prev-2.svg);
        width: 26px;
        height: 41px;
        background-repeat: no-repeat;
        object-fit: cover;
        position: absolute;
        left: 0;
        transform: translateX(-50%);

        @include media-breakpoint-up(xl) {
          left: 40%;
          top: -50%;
        }
      }

      .next-slide {
        background-image: url(../../images/shape/nav-next-2.svg);
        width: 26px;
        height: 41px;
        background-repeat: no-repeat;
        object-fit: cover;
        position: absolute;
        right: 0;
        transform: translateX(50%);

        @include media-breakpoint-up(xl) {
          right: 60%;
        }
      }
    }
  }

  &-steps {
    text-align: center;
    position: relative;

    @include media-breakpoint-up(xl) {
      padding: 0 100px;
    }

    .title {
      font-size: 25px;
      margin-top: 56px;
    }

    &_content {
      position: relative;
      width: 290px;
      height: 200px;
      margin: 23px auto 0;

      @include media-breakpoint-up(lg) {
        width: 225px;
      }
    }

    &_line {
      display: none;

      @include media-breakpoint-up(lg) {
        display: inline;
        width: 80%;
        height: 15px;
        background-color: #6a84b5;
        position: absolute;
        bottom: 37%;
        left: 0;
        right: 0;
        margin: auto;
      }

      @include media-breakpoint-up(xl) {
        width: 60%;
      }
    }

    &_circle-big {
      width: 166px;
      height: 166px;
      background-color: rgba($color: #6a84b5, $alpha: 0.2);
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    &_circle {
      width: 136px;
      height: 136px;
      background-color: rgba($color: #475779, $alpha: 1);
      border: 15px solid #6a84b5;
      border-radius: 50%;
      position: absolute;
      top: 14px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    &_img {
      width: auto;
      height: 70px;
      position: absolute;
      top: 48px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    &_title {
      font-size: 18px;
      font-weight: bold;
      color: $color-seventeen;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
